@import "tailwindcss";
@import 'material-symbols/outlined.css';
@custom-variant dark (&:where(.dark, .dark *));

body {
  font-family: 'Plus Jakarta Sans', 'Noto Sans KR', sans-serif;
  scroll-behavior: smooth;
}

.neo-shadow {
  box-shadow: 6px 6px 0px 0px rgba(0, 0, 0, 1);
}

.neo-shadow-sm {
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 1);
}

.neo-shadow-lg {
  box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 1);
}

.neo-shadow-hover:hover {
  box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 1);
  transform: translate(4px, 4px);
}

.neo-shadow-none:active {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 1);
  transform: translate(6px, 6px);
}

.bg-grid {
  background-size: 40px 40px;
  background-image: radial-gradient(circle, #e5e7eb 1px, transparent 1px);
}